#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        defualt_layer {
            bindings = <
&kp ESCAPE        &kp F1        &kp F2        &kp F3       &kp F4  &kp F5  &kp F6  &kp BACKSPACE
&kp TAB           &kp A         &kp S         &kp D        &kp F   &kp G   &kp H   &kp ENTER
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C        &kp V   &kp B   &kp N
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &lt 1 SPACE  &none   &none
            >;
        };

        layer_1 {
            bindings = <
&trans      &trans          &trans          &trans           &trans           &trans             &trans  &trans
&kp DELETE  &trans          &kp UP_ARROW    &trans           &kp RC(PAGE_UP)  &kp RC(PAGE_DOWN)  &trans  &trans
&trans      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans           &trans             &trans
&trans      &trans          &trans          &trans           &trans           &trans
            >;
        };
    };
};
